{% extends 'main/base.html' %}

{% block title %}Boletas{% endblock %}

{% block main %}
    <h1>Boletas</h1>
    
    <div style="max-width: 1000px; margin: auto;"> <!--style temporal-->
        <table class="table table-bordered">
            <tr>
                <th>Número</th>
                <th>Fecha emisión</th>
                <th>Hora emisión</th> <!--Opcional, sirve para probar el Time Zone-->
                <th>Cliente</th>
                <th>Total</th>
                <th>Detalle</th>
            </tr>
            
            {% for boleta in user.ventas_set.all %}
                <tr>
                    <td>{{ boleta.numero }}</td>
                    <td>{{ boleta.fecha_emision|date:"d/m/Y" }}</td>
                    <td>{{ boleta.fecha_emision|date:"H:i:s" }}</td>
                    <td>{{boleta.cliente}}</td>
                    <td class="td text-end">${{ boleta.total|floatformat:"-0" }}</td>
                    <td>{{ boleta.detalle }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}